<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context-2.5.xsd"
       default-autowire="byName" default-lazy-init="true">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:init.properties</value>
            </list>
        </property>
    </bean>

<!--        <bean name="clentrmi" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">-->
<!--            <property name="serviceUrl" value="rmi://127.0.0.1:1021/serverRmiTest"/>-->
<!--            <property name="serviceInterface" value="com.ptt.service.ServerRmi"/>-->
<!--        </bean>-->

    <bean id="rmiProxyFactoryBean1" class="org.springframework.remoting.rmi.RmiProxyFactoryBean" lazy-init="true">
        <property name="serviceUrl" value="rmi://49.235.187.63:1021/BmbServiceImpl"/>
        <property name="serviceInterface" value="com.ptt.service.BmbService"/>
    </bean>

    <bean id="rmiProxyFactoryBean2" class="org.springframework.remoting.rmi.RmiProxyFactoryBean" lazy-init="true">
        <property name="serviceUrl" value="rmi://49.235.187.63:1022/BmbServiceImpl"/>
        <property name="serviceInterface" value="com.ptt.service.BmbService"/>
    </bean>

    <!-- 引入到spring配置文件中 memcachedContent.xml 127.0.0.1-->
    <import resource="memcachedContent.xml"/>

</beans>